
        table.fixed {
            table-layout: fixed;
        }

        html,
        body {
            font-family: verdana, sans-serif;
        }

        table.fixed td {
            overflow: hidden;
            margin: 0;
            padding: 5px;
        }